extends layout

block head
	script(src="/javascripts/search_en.js")
	link(rel='stylesheet', href='/stylesheets/search-style.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	meta(property="og:description" content="FiToBe Library，you can search EatFiT、MotFiT、LiFiT articles here.")
	meta(property="og:image" content="https://1584a0390d543794da81115c3efdc6963469ad10.googledrive.com/host/0BxcaMpkxnZGCQWxlZHJiUnRTQm8")
block content
	.container
		.navbar.navbar-primary.navbar-fixed-top
			a(href="/en") 
				img(src="/images/fitobe.png")
				li  Library

			ul
				li 
					a(class="gethot") Hot
				li
					a(href="http://www.fitobe.com/en/index.html") Home
				li  
					a(href="http://www.fitobe.com/en/features.html") Features
				li
					a(href="http://www.fitobe.com/en/about.html") About
				li  
					a(href="http://www.fitobe.com/en/contact.html") Contact
				ul
					li
						a(href="https://www.facebook.com/FiToBe.Health/")
							img(src="/images/facebook.svg")
					li
						a(href="http://itunes.apple.com/app/fitobe-health-management/id1066643070?ls=1&mt=8")
							img(src="/images/appstore.svg")
			.dropdown
				button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
					span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")
				ul(class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1")
					li 
						a(class="gethot") Hot
					hr
					li
						a(href="http://www.fitobe.com/en/index.html") Home
					hr
					li
						a(href="http://www.fitobe.com/en/features.html") Features
					hr
					li
						a(href="http://www.fitobe.com/en/about.html") About
					hr
					li
						a(href="http://www.fitobe.com/en/contact.html") Contact
					hr
					li
						a(href="https://www.facebook.com/FiToBe.Health/")
							img(src="/images/facebook.svg" height="40")
					hr
					li
						a(href="http://itunes.apple.com/app/fitobe-health-management/id1066643070?ls=1&mt=8")
							img(src="/images/appstore.svg" height="40")
					hr
		
		.col-md-12.col-xs-12
			.search-block
				select(name="category" id="category-select" class="btn  dropdown-toggle")
					option(value="EATFIT") EatFiT
					option(value="MOFIT") MoFiT
					option(value="LIFIT") LiFiT
				input(type="text" name="search" id="search-input" class="form-control")
				button(id="search" class="btn btn-primary") Search
				p
				ul(class="pagination")
			.search-result 
			.bottomnext
				ul(class="pagination")