extends layout

block head	
	script.
		var userLang = navigator.language || navigator.userLanguage; 
		console.log(userLang);
		if(userLang.startsWith("zh")){
			window.location.href="zh";
		}else{
			window.location.href="en";
		}