@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
	/*font-family: 'Noto Sans TC', sans-serif !important;*/
	font-family: 'Raleway', 'Noto Sans TC',sans-serif !important;

}
body{
	background-color: white !important;
	
}
.navbar{
	height:60px !important;
	border-bottom: 1px solid  #F2F2F2;
	width:auto;
	background-color: white;
	padding:0 ;

}
.navbar>a>li{
	display:inline;
}
.navbar>a{
	text-decoration:none;
	color:#5D5D5D;
	font-size: 10pt;
	display:inline;
	margin-left: 2%;
	position: relative;
}
.navbar>a>li{
	text-decoration:none;
	color:#5D5D5D;
	font-size: 10pt;
	display:inline;
}
.navbar>a>li{
	position: relative;
	bottom:5px;
}

.navbar>ul>li>a{
	text-decoration:none;
	transition:color .35s linear;
}
.navbar>ul>li>a:hover{
	color: #F9B946;
}
.navbar> a> img{
	max-width: 60%;
	height:50px;
	position:relative;
	top:5px;
	transition:-webkit-filter .25s linear;

}
.navbar> a> img:hover{
    -webkit-filter: brightness(115%);
}

.navbar > ul,.navbar>ul>ul{
	padding-left:0px;
	line-height: 60px;
	margin:0;
	display:inline;
	text-align: center;
	margin-left:0 !important; 
}
.navbar > ul{
	float:right;
}
.navbar > ul,li{
	display:inline;
}
.navbar > ul > li{
	font-size: 15pt;
	padding:0 18px 0 18px;
}
.navbar > ul > li > a {
	color:#5D5D5D;
	cursor: pointer;
}
.navbar>ul>ul>li{
	padding:0 18px 0 18px;
	position: relative;
    bottom: 3.5px;
}
.navbar>ul>ul>li>a>img{
	height:35px;
	transition: -webkit-filter .5s linear;
}
.navbar>ul>ul>li>a>img:hover{
	
	-webkit-filter:brightness(150%);
}
.search-block{
	text-align: center;	
	padding-top: 150px;
}
#search-input{
	width:50%;
	display: inline;
	height:35px;
	position: relative;
	top:1px;
	border-radius:0px;
}
#category-select{
	height:35px;
	-webkit-appearance : none ;
	outline: none;
	border: 1px solid #81a8c3;
	padding:0 5px 0 5px;
	font-weight: bold;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}
#search{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	height:35px;
	-webkit-appearance : none ;
	outline: none;
	width:60px !important;
}
.search-result{
	left:20px;
	position: relative;
}
.result-img{
	display:inline-block;
	width:30%;
	position: relative;
	padding-top: 15%;
	background-size: cover;
	background-repeat:no-repeat;
	margin:15px 15px 15px 15px;
	transition: box-shadow .25s linear;
	transition: -webkit-filter .25s linear;
}
.result-img:hover{
	box-shadow: 0px 0px 30px 5px #888 ;
	-webkit-filter: saturate(225%);
	-webkit-filter: brightness(150%);
	filter: saturate(250%);
	filter: brightness(150%);
}
.result-title{
	position: absolute; 
	left:0;
	bottom: 0;
	width:100%;
	height: auto;
	background-color: black;
	background-color:rgba(0,0,0,0.55);
	text-align: center;
	color:white;
	font-size:16pt;
}
.pagination{
	cursor:pointer;
}
.col-md-12.col-xs-12{
	padding:0 5px 0 5px;
}
.bottomnext{
	margin:0 auto;
	text-align: center;
}



@media screen and (max-width: 999.5px) {

	.result-img{
		width:98.5%;
		padding-top: 60%;
		margin:5px 5px 5px 5px;
	}
	.search-result{
		left:0px;
		position: relative;
	}
	#search-input{
		width:60%;
		position: relative;
		top:3px;
		display:inline;
		margin-bottom: 15px;
	}
	#category-select{
		position: relative;
		height:35px;
		display:inline;
		z-index: 99;
		margin:0;
		top:1px;

	}
	#search{
		display:inline;
		width:auto;
		position:relative; 
		top:1px;
	}
	.dropdown{
		position: absolute;
		top:0;
		right:0;

	}
	.navbar > ul{
		display:none;
	}
	.search-block{	
		padding-top: 20%;
	
	}
	.navbar>a{
		bottom:0px;
	}
}
